@model IEnumerable<OnlineCV.Skill>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @{
            var cvId = Request.QueryString["CVId"];
        }        
        <span>
            <a style="cursor: pointer"
               onclick="window.open('@Url.Action("Create", "Skills", new { CVId = cvId })', '', ' scrollbars=no,menubar=no,width=250, height=200, resizable=no,toolbar=no,location=no,status=no')">
                Create New
            </a>
        </span>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvMaster.title)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CvMaster.title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
